{% extends 'base.html' %}

{% block content %}

<form action="{{url_for('auth.login')}}" class="form form--skin" name="formLogin" method="POST">
    <fieldset class="fieldset fieldset--skin">
        <legend class="form__legend form__legend--skin wid120px">Login</legend>
        {{form.hidden_tag()}}
        <label for="email" class="form__label form__label--skin">
            Email:
        </label>
        {{form.email(id='email', class="form__entry form__entry--skin", autocomplete='off', maxlength="128", type="email")}}
        <label for="password" class="form__label form__label--skin">
            Senha:
        </label>
        {{form.password(id='password', class="form__entry form__entry--skin", autocomplete='off', minlength="3", maxlength="20")}}
        <label for="remember-me" class="form__label form__label--skin">
            Lembrar:
            {{form.remember_me(type="checkbox", class="marginBottom10", id="remember-me", value="true")}}
        </label>
        <input class="btn btn--skin" type="submit" id="entrar" value="Entrar">
    </fieldset>
    <a href="{{url_for('auth.register')}}" class="external_link external_link--skin">
        Novo usuário? Inscrever-se.
    </a>
    {% for msg in get_flashed_messages() %}
        <div class="error error--skin">
            <span class="error__text error__text--skin">{{msg}} <sup> X</sup></span>
        </div>
    {% endfor %}


</form>

{% endblock %}