$gray: #2A2B2A;
$red: #B10F2E;
$white: #FDFFFF;
$blue: #6C91C2;
$blueTransp: #6c91c262;
$blueStrong: #141B41;
$blueStrongTransp: #141b417a;
$redTransp: #b10f2da1;
$grayTransp: #2a2b2a4f;
$yellow: #F7CB15;
$yellowTransp: #f7ca1563;
$purple: #8A4FFF;
$purpleTransp: #8a4fff98;
$platina: #EAEBEA;
$lavander: #D6C2FF;