@import 'colors';

.form {
    display: flex;
    flex-direction: column;
    margin-top: 1.4em;
    padding: 2em 4em 0 2.5em;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.form__legend {
    display: block;
    padding: 0.2em;
    font-size: 2.8em;
    font-weight: bolder;
    width: 150px;
    border-bottom: 0.12em solid $grayTransp;
    margin-bottom: 0.7em;
    &--skin {
        color: $blueStrong;
    }
}

.form__label {
    display: block;
    padding: 0.2em;
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 0.1em;
    &--skin {
        color: $blueStrong;
    }
}

.form__entry {
    display: block;
    border: 0.2em solid $grayTransp;
    padding: 0.5em;
    padding-left: 0.7em;
    width: 250px;
    font-weight: 600;
    font-size: 1.6em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    &--skin:focus {
        border-color: $yellow;
        box-shadow: 0 1px 2px 1px $yellowTransp;
    }
}

.btn {
    display: block;
    font-weight: bolder;
    font-size: 1.3em;
    padding: 0.4em 0.6em;
    border-radius: 0.3em;
    border: 0.3em solid $gray;
    text-align: center;
    cursor: pointer;
    &--skin {
        background: $gray;
        color: $white;
        &:hover {
            background: $white;
            color: $gray;
        }
    }
}

#remember-me {
    width: 2em;
}