<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
        <!-- google fonts -->
        <!-- Tourney -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@400;500;700;800&display=swap" rel="stylesheet">
        <!-- /Tourney -->
        <!-- /google fonts -->
        {% block head %}
        {% endblock %}
        <title>{% block title %}Site Ficticio{% endblock %}</title>
    </head>
    <body class="all">
        <header class="header header--skin">
            <h1 class="header__title header__title--skin">
                <a href="#" class="title__link title__link--skin">Exemplo</a>
            </h1>
            {% if current_user.is_authenticated %}
                <a href="{{url_for('auth.logout')}}" class="header__link header__link--skin header__link--logout">Sair</a>
            {% else %}
                <a href="" class="header__link header__link--skin">Entrar</a>
            {% endif %}

            {% block header %}
            {% endblock %}
        </header>
        <seciton class="content content--skin">
            {% block content %}
            {% endblock %}
        </seciton>
        <footer class="footer footer--skin">
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>